In [1]:
import warnings
warnings.filterwarnings('ignore') #파이썬 Warning 무시

import tensorflow as tf
tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR) #텐서플로우 Warning은 무시하고 Error만 출력
import warnings
warnings.filterwarnings('ignore') #파이썬 Warning 무시

import tensorflow as tf
tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR) #텐서플로우 Warning은 무시하고 Error만 출력
import sys
print("Python 버전:", sys.version)

import pandas as pd
print("pandas 버전:", pd.__version__)

import matplotlib
print("matplotlib 버전:", matplotlib.__version__)

import numpy as np
print("NumPy 버전:", np.__version__)

import scipy as sp
print("SciPy 버전:", sp.__version__)

import IPython
print("IPython 버전:", IPython.__version__)

import sklearn
print("scikit-learn 버전:", sklearn.__version__)

import seaborn as sns

import matplotlib.pyplot as plt
import scipy.stats as stats

from sklearn.model_selection import train_test_split

import keras
from keras.models import Sequential
from keras.layers import Dense, Activation

import mglearn

import platform
if platform.system() == 'Windows':
    matplotlib.rc('font', family='Malgun Gothic')
elif platform.system() == 'Darwin':
    matplotlib.rc('font', family='AppleGothic')
else:
    matplotlib.rc('font', family='NanumGothic')

Python 버전: 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
pandas 버전: 1.0.1
matplotlib 버전: 3.1.3
NumPy 버전: 1.18.1
SciPy 버전: 1.4.1
IPython 버전: 7.12.0
scikit-learn 버전: 0.22.1

Using TensorFlow backend.

In [3]:
hw_data = pd.read_excel('datasets/2016_middle_shcool_graduates_report.xlsx')
hw_data

,Unnamed: 0,지역,학교명,코드,유형,주야,남학생수,여학생수,일반고,특성화고,...,외고_국제고,예고_체고,마이스터고,자사고,자공고,기타진학,취업,미상,위도,경도
0,0,성북구,서울대학교사범대학부설중학교,3,국립,주간,277,0,0.585,0.148,...,0.007,0.000,0.011,0.227,0.000,0.004,0,0.000,37.594942,127.038909
1,1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,0,256,0.680,0.199,...,0.035,0.008,0.000,0.043,0.004,0.031,0,0.000,37.577473,127.003857
2,2,강남구,개원중학교,3,공립,주간,170,152,0.817,0.047,...,0.012,0.003,0.006,0.090,0.003,0.009,0,0.003,37.491637,127.071744
3,3,강남구,개포중학교,3,공립,주간,83,72,0.755,0.097,...,0.013,0.019,0.019,0.065,0.000,0.019,0,0.000,37.480439,127.062201
4,4,서초구,경원중학교,3,공립,주간,199,212,0.669,0.017,...,0.010,0.005,0.000,0.282,0.000,0.010,0,0.000,37.510750,127.008900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,410,강남구,국립국악중학교,9,국립,주간,9,91,0.060,0.000,...,0.000,0.940,0.000,0.000,0.000,0.000,0,0.000,37.476381,127.051355
411,411,금천구,국립전통예술중학교,9,국립,주간,14,42,0.107,0.000,...,0.000,0.875,0.000,0.000,0.000,0.000,0,0.018,37.446354,126.906424
412,412,광진구,선화예술학교,9,사립,주간,33,241,0.102,0.000,...,0.000,0.861,0.000,0.000,0.000,0.000,0,0.036,37.549642,127.087737
413,413,중구,예원학교,9,사립,주간,31,258,0.170,0.000,...,0.000,0.751,0.000,0.000,0.000,0.048,0,0.031,37.566951,126.971553
414,414,노원구,한국삼육중학교,9,사립,주간,105,102,0.908,0.019,...,0.024,0.000,0.010,0.010,0.000,0.029,0,0.000,37.641056,127.108344

In [4]:
hw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  415 non-null    int64
 1   지역          415 non-null    object
 2   학교명         415 non-null    object
 3   코드          415 non-null    int64
 4   유형          415 non-null    object
 5   주야          415 non-null    object
 6   남학생수        415 non-null    int64
 7   여학생수        415 non-null    int64
 8   일반고         415 non-null    float64
 9   특성화고        415 non-null    float64
 10  과학고         415 non-null    float64
 11  외고_국제고      415 non-null    float64
 12  예고_체고       415 non-null    float64
 13  마이스터고       415 non-null    float64
 14  자사고         415 non-null    float64
 15  자공고         415 non-null    float64
 16  기타진학        415 non-null    float64
 17  취업          415 non-null    int64
 18  미상          415 non-null    float64
 19  위도          415 non-null    float64
 20  경도          415 non-null    float64
dtypes: float64(12), int64(5), object(4)
memory usage: 68.2+ KB

In [8]:
tmp_list = []
for i in hw_data['유형']:
    if i not in tmp_list:
        tmp_list.append(i)
    else:
        continue
print(tmp_list)

['국립', '공립', '사립']

In [9]:
temp = []
for i in hw_data['유형']:
    if i == tmp_list[0]:
        temp.append(0)
    elif i == tmp_list[1]:
        temp.append(1)
    elif i == tmp_list[2]:
        temp.append(2)

In [10]:
hw_data['유형'] = temp

In [11]:
hw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  415 non-null    int64
 1   지역          415 non-null    object
 2   학교명         415 non-null    object
 3   코드          415 non-null    int64
 4   유형          415 non-null    int64
 5   주야          415 non-null    object
 6   남학생수        415 non-null    int64
 7   여학생수        415 non-null    int64
 8   일반고         415 non-null    float64
 9   특성화고        415 non-null    float64
 10  과학고         415 non-null    float64
 11  외고_국제고      415 non-null    float64
 12  예고_체고       415 non-null    float64
 13  마이스터고       415 non-null    float64
 14  자사고         415 non-null    float64
 15  자공고         415 non-null    float64
 16  기타진학        415 non-null    float64
 17  취업          415 non-null    int64
 18  미상          415 non-null    float64
 19  위도          415 non-null    float64
 20  경도          415 non-null    float64
dtypes: float64(12), int64(6), object(3)
memory usage: 68.2+ KB

In [15]:
tmp_list = []
for i in hw_data['지역']:
    if i not in tmp_list:
        tmp_list.append(i)
    else:
        continue
tmp_list.sort()
print(tmp_list)

['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구']

In [16]:
hw_data[hw_data.주야 != '주간']
# 주야는 모두 똑같으므로 판별기준이 되지 않는다

Empty DataFrame
Columns: [Unnamed: 0, 지역, 학교명, 코드, 유형, 주야, 남학생수, 여학생수, 일반고, 특성화고, 과학고, 외고_국제고, 예고_체고, 마이스터고, 자사고, 자공고, 기타진학, 취업, 미상, 위도, 경도]
Index: []

[0 rows x 21 columns]

In [17]:
# X: 지역, 코드, 유형, 남학생수, 여학생수
# y: 일반고~취업

In [19]:
X_data = hw_data.values[:, [1, 3, 4, 6, 7]]
X_data

array([['성북구', 3, 0, 277, 0],
       ['종로구', 3, 0, 0, 256],
       ['강남구', 3, 1, 170, 152],
       ...,
       ['광진구', 9, 2, 33, 241],
       ['중구', 9, 2, 31, 258],
       ['노원구', 9, 2, 105, 102]], dtype=object)